// Colors
$primary-color: #12b886;
#logo{
  display: flex;
  text-decoration: none;
  color: inherit;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

.logo-font{
  font-size: 2rem;
  display: flex;
  height: inherit;
  color: inherit;
  position: relative;
}


.main-color{
  margin: 0;
  color: $primary-color;
}

.main-bg-color {
  background-color:$primary-color;
}

.bug-image{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.empty-img{
  width: 100%;
  max-height: 300px;
}