<% layout('/layout/boilerplate') %>
<h1>All Super Places</h1>
<div><a href="/superplaces/new">Create Super Place</a></div>
<ul>
  <% superplaces.forEach((sp, i) => { %>
  <li>
    <a href="superplaces/<%= sp._id %>">(<%= i+1 %>) - <%= sp.title %></a>
  </li>
  <% }) %>
</ul>
