<% layout('/layout/boilerplate') %>
<h1><%= superPlace.title %></h1>
<h2><%= superPlace.location %></h2>
<form action="/superplaces/<%= superPlace._id %>?_method=DELETE" method="POST">
  <button>Delete</button>
</form>
<a href="/superplaces/<%= superPlace._id %>/edit">Edit</a>

<footer>
  <a href="/superplaces">SuperPlaces</a>
</footer>
