#logo{
  display: flex;
  text-decoration: none;
  color: inherit;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

.logo-font{
  font-size: 2rem;
  display: flex;
  height: inherit;
  color: inherit;
  position: relative;
}


.main-color{
  margin: 0;
  color: #12b886;
}

.main-bg-color {
  background-color:#12b886 ;
}

.bug-image{
  max-width: 500px;
  margin: 0 auto;
}